<h1 mat-dialog-title class="dialogHeader"> Cadastro de Paciente</h1>
<mat-dialog-content class="mat-typography">
  <form id="patientForm" (input)="convertToUppercase($event)">
    <label for="username" style="margin-top: 20px">Username:</label>
    <input type="text" id="username" name="username" required><br><br>

    <label for="name">Nome completo:</label>
    <input type="text" id="name" name="name" required><br><br>

    <label for="cpf">CPF:</label>
    <input type="text" id="cpf" name="cpf" required><br><br>

    <label for="bornDate">Data de Nascimento:</label>
    <input type="text" id="bornDate" name="date" placeholder="dd-mm-yyyy" mask="00-00-0000">

    <label for="gender">Gênero:</label>
    <input type="text" id="gender" placeholder="(M/F)" name="gender" required><br><br>

    <label for="password">Senha:</label>
    <input type="password" id="password" name="password" placeholder="(apenas números, até 4 dígitos)" mask="0000" required><br><br>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required><br><br>

    <label for="phone">Número de Telefone:</label>
    <input type="tel" id="phone" name="phone" placeholder="51984332942" required><br><br>

    <label for="address">Rua:</label>
    <input type="text" id="address" name="address" required><br><br>

    <label for="houseNumber">Número da Casa:</label>
    <input type="text" id="houseNumber" name="houseNumber" required><br><br>

    <label for="details">Observações:</label>
    <input type="text" id="details"  placeholder="APTO 402 BL.A" name="details"><br><br>

    <label for="city">Cidade:</label>
    <input type="text" id="city" name="city" required><br><br>

    <label for="district">Estado:</label>
    <input type="text" id="district" placeholder="RS" name="district" required><br><br>

    <label for="zipCode">CEP:</label>
    <input type="text" id="zipCode" placeholder="93285000" name="zipCode" required><br><br>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close color="primary">Cancelar</button>
  <button mat-button [mat-dialog-close]="true" color="primary" (click)="savePatient()">Salvar</button>
</mat-dialog-actions>
