label {
  display: block; // Coloca cada label em uma nova linha
  margin-bottom: 8px; // Espaço entre cada label
  font-weight: bold; // Texto em negrito
}

.mat-input-element {
  padding: 8px; /* Espaçamento interno */
  border: 1px solid #ccc; /* Borda cinza */
  border-radius: 4px; /* Borda arredondada */
  box-sizing: border-box; /* Inclui o padding e a borda na largura total */
}

.label{
  font-weight: bold;
  margin-top: 20px !important;
}

.mat-typography {
  width: 1000px; /* Define a largura máxima do formulário */
  margin: 0 auto; /* Centraliza o formulário na página */
}

.mat-dialog-content {
  max-width: 80%; /* Defina a largura máxima do formulário */
  margin: 0 auto; /* Centralize o formulário na página */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); // Sombra
}
.dialogHeader{
  color: #26a69a;
  margin-left: 85px;
}

